<div class="row">

  <div [hidden]="!alertOn" id="danger" class="alert alert-danger col-md-10 offset-1 position-absolute"  role="alert">
    Operation Failed
  </div>

  <div [hidden]="!succesOn" id="success" class="alert alert-success col-md-10 position-absolute offset-1" role="alert">
    Operation Executed Successfully
  </div>

<app-create class="col-md-5 mt-3"></app-create>
<app-list-annoncehs class="col-md-7 mt-3"></app-list-annoncehs>

  <div class="col-md-12 row ">
    <button (click)="save()" class="btn btn-success mt-1 col-md-6 " [disabled]="validateSave()">Save</button>
    <button (click)="update()" class="btn btn-dark mt-1 col-md-6" [disabled]="validateSave()">Update</button>
  </div>

</div>
